<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-app="bookingApp">
    <div class="container" ng-controller="dateCtrl">
        <div class="row">
            <div class="card" style="width: 18rem;" ng-repeat="item in reservations">
                <div ng-controller="customerCtrl">
                    <button class="btn btn-secondary btn-block"
                            type="button"
                            ng-click="getCustomers(item.reservationDate)">
                        {{item.reservationDate}}
                    </button>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" ng-repeat="cust in customers">{{cust.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>